google-generativeai
customtkinter
pywebview
SpeechRecognition
edge-tts
PyAutoGUI
spotipy
Flask
cryptography
Pillow
plyer
AppOpener
psutil
pygame
requests
pyqpanda
pyperclip
opencv-python
python-docx
openpyxl
reportlab
pynput
GPUtil
WMI
